*.css
*.pyc
.tags*
bower_components/*
src/static/vendor/*
src/static/.sass-cache/*
.sass-cache/*
.idea/*
data/*
coverage-report/*
node_modules/*
src/static/js/survey.*
npm-debug.log
keith-walker-survey-83a1562532b1.json
*.egg-info
*.dist-info
source-context*.json
src/static/js/generate.js
src/static/js/0.js
build
__pycache__
venv

src/settings_secret.py
