{% extends 'base.html' %}

{% block home_active %}class='active'{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to the Online Gift Survey!</h1>
            <p>Survey options:</p>
            <a href="/gifts/" class="btn btn-primary" role="button">Full survey!</a>
            <a href="/gifts/a/" class="btn btn-primary" role="button">Short form A survey!</a>
            <a href="/gifts/b/" class="btn btn-primary" role="button">Short form B survey!</a>
            <br />
        </div>
    </div>
</div>

{% endblock %}
