{% extends 'base.html' %}

{% block survey_active %}active{% endblock %}

{% block content %}
    {% if user.paid or quiz_type == 'trial' %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ quiz_attempt.quiz_type_display }}</h1>
                <p>Answer each question as best and as realistically as you can. This survey was designed to be inclusive of many different Christian traditions. Some of the language and a number of the items many not be familiar or relevant to your particular tradition.  Please feel free to leave these items blank or indicate N/A ("not applicable”), if you wish.</p>
                <p>Bookmark <a href="{{ request_path }}?userId={{ user_id }}">this link</a> to come back and finish your survey any time.</p>
                <span style="display: none" id="user-id">{{ user_id }}</span>
            </div>
            <div class="col-md-12">
                <div class="row question-descriptions hidden-lg hidden-md">
                    <span class="col-xs-12 col-md-2 col-md-offset-1 col-xs-offset-0">SD = Strongly Disagree</span>
                    <span class="col-xs-12 col-md-2">D = Disagree</span>
                    <span class="col-xs-12 col-md-2">N = Neutral</span>
                    <span class="col-xs-12 col-md-2">A = Agree</span>
                    <span class="col-xs-12 col-md-2">SA = Strongly Agree</span>
                </div>
            </div>
        </div>
    </div>
    <div class="survey" id="survey"></div>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Taking the Survey</h1>
                <p>You must pay for the gifts survey before you can do one. Read more about it <a href="http://keithdwalker.ca/resources/spiritual-gifts/">here</a>!</p>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block body_scripts %}
    <script>
        window.quizType = '{{ quiz_type }}';
    </script>
    <script src="/static/js/survey.js"></script>
{% endblock %}
