{% extends 'base.html' %}

{% block survey_active %}active{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 questions">
            <h1>Taking the Survey</h1>
            <p>Answer each question as honestly as you can.</p>
        </div>
    </div>
</div>
    <form method="POST">
    {% if questions %}
    <div class="questions">
        <div class="questions-header">
            <div class="container">
                <div class="row">
                <!-- class="questions-header" data-spy="affix" data-offset-top="200"> -->
                    <span class="col-md-1 col-xs-1">#</span>
                    <span class="col-md-8 col-xs-11">Question Text</span>
                    <span class="col-md-1 question-answer-description">Almost always true of me</span>
                    <span class="col-md-1 question-answer-description">Sometimes or occasionally true of me</span>
                    <span class="col-md-1 question-answer-description">Rarely if at all true of me</span>
                </div>
            </div>
        </div>
        <div class="container">
            {% for question in questions %}
            <div class="row question-item">
                <input type="hidden" name="question-number-{{question.question_number}}" value="{{question.question_number}}" />
                <input type="hidden" name="question-category-{{question.question_number}}" value="{{question.category}}" />
                <span class="col-md-1 col-xs-1 question-number">{{ loop.index }}.</span>
                <span class="col-md-8 col-xs-11 question-text">{{ question.text }}</span>
                <span class="col-md-1 col-xs-4 question-choice">
                    <span>Always</span> <input type="radio" name="choice{{question.question_number}}" value="2" required />
                </span>
                <span class="col-md-1 col-xs-4 question-choice">
                    <span>Sometimes</span> <input type="radio" name="choice{{question.question_number}}" value="1" required />
                </span>
                <span class="col-md-1 col-xs-4 question-choice">
                    <span>Rarely</span> <input type="radio" name="choice{{question.question_number}}" value="0" required />
                </span>
            </div>
            {% endfor %}
            <input type="submit" href="#" class="btn btn-primary" value="Submit the survey" />
        </div>
    </div>
    {% endif %}
    </form>
{% endblock %}
