{% extends 'superadmin/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Survey User Data</h2>
                <table class="table">
                    <tr>
                        <td>Paid survey users</td>
                        <td>{{ paid_survey_users }}</td>
                    </tr>
                    <tr>
                        <td>Paid users who haven't started their quiz yet</td>
                        <td>{{ paid_survey_users - paid_quiz_attempts|length }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h2>Hot links</h2>
                <ul>
                    <li><a href="/superadmin/generate/">Generate paid survey</a></li>
                    <li><a href="/superadmin/questions/">View a printable version of all the questions</a></li>
                    {% if env == 'local' %}<li><a href="/superadmin/import/" onclick="return confirm('Are you sure?');">Import questions</a></li>{% endif %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>User Data</h2>
                <table class="table">
                    <tr>
                        <td>User ID</td>
                        <td>Completed?</td>
                        <td>Quiz Type</td>
                        <td>Results page</td>
                    </tr>
                    {% for attempt in quiz_attempt_data %}
                        <tr>

                            <td>{{ attempt.user.first_name }} {{ attempt.user.last_name }}</td>
                            <td>{{ attempt.attempt.quiz_completed }}</td>
                            <td><a href="{{ attempt.attempt.quiz_link }}">{{ attempt.attempt.quiz_type_display }}</a></td>
                            <td><a href="/results/?userId={{ attempt.attempt.user_id }}">here</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
