{% extends 'superadmin/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Text</th>
                    <th>Category</th>
                </tr>
                {% for question in questions %}
                    <tr>
                        <td>{{ question.question_number }}</td>
                        <td>{{ question.text }}</td>
                        <td>{{ question.pretty_category }}</td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
{% endblock %}
