.survey {
  &__completed {
    @extend .container;
  }
}

.survey-page {
  @extend .container;

  &__info {
    @extend .alert;
    @extend .alert-danger;
  }

  &__question {
    @extend .row;
    padding: 10px 0;
    height: 60px;
  }

  &__question-number {
    @include make-xs-column(2);
    @include make-md-column(1);
    padding: 0;
    font-size: 1.8em;
    text-align: center;
  }

  &__question-text {
    @include make-xs-column(10);
    border-left: thin solid black;
    min-height: 40px;
    margin-bottom: 3px;
  }

  &__question-choices {
    @include make-xs-column(12);
    margin-top: 5px;
    @media (min-width: $screen-md-min) {
      margin-top: 0;
    }
  }

  &__question-choice {
    @include make-xs-column(2);
    padding: 0;
    text-align: center;

    & > label > span {
      padding: 5px 0;
    }

    @media (min-width: $screen-md-min) {
      & > label {
        margin-bottom: 0;
      }
    }
  }

  &__next-area {
    @extend .container;
  }

  &__next-btn {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-lg;
    float: right;
    margin-bottom: 15px;
  }

  &--errors {
    border: 1px solid $btn-danger-bg;
  }
}

.question-descriptions {
  span {
    font-weight: bold;

    @media (min-width: $screen-md-min) {
      text-align: center;
    }
  }
}
