/* Global styles */
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap";

.questions {

  .questions-header {
    font-size: 1.2em;
    background-color: lightgray;

    .question-answer-description {
      display: none;

      @media (min-width: $screen-md-min) {
        display: block;
      }
    }
  }

  .question-item {
    padding: 20px 0;

    .question-text {
      padding-bottom: 15px;

      @media (min-width: $screen-md-min) {
        padding-bottom: 0;
      }
    }

    .question-choice {
      text-align: center;

      & > span {
        @media (min-width: $screen-md-min) {
          display: none;
        }
      }
    }
  }
}
