@import "variables";

@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap";

@import "modules/radios";
@import "templates/survey";

.navbar.navbar-default.navbar-bottom {
  margin-top: 20px;
  margin-bottom: 0;
}

.container {
  background-color: #fff;
}
