{% extends 'SurveyMainBundle::base.html.twig' %}

{% block content %}
<div class="row">
    <h1>Welcome to the Online Gift Survey!</h1>
</div>

{% if questions %}
<div class="row">
    <p>Found some questions! Here they are:</p>
    <ul>
    {% for question in questions %}
        <li>{{ question.getText() }}</li>
        <li>{{ question.getCategory() }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% endblock %}