{% extends 'SurveyMainBundle::base.html.twig' %}

{% block content %}
<div class="row">
    <h1>Welcome to the Online Gift Survey!</h1>
</div>

{% if question %}
<div class="row">
    <p>Found a question! Here is its info:</p>
    <ul>
        <li>{{ question.getText() }}</li>
        <li>{{ question.getCategory() }}</li>
    </ul>
</div>
{% endif %}

{% endblock %}